# build outputs
bin/
obj/
node_modules/

# user-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# rider / vs code settings
.idea/
.vscode/

# asp.net secrets
**/appsettings.*.json
secrets.json

# others
*.log
*.DS_Store
