# build outputs
bin/
obj/
node_modules/

# user-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# rider / vs code settings
.idea/
.vscode/

# others
*.log
*.DS_Store

# enviroment variables
.env
.env.*
